*.exe
.vscode/*
de1/bin/*
de1/.vscode/*
simple-chess-ai/*
simple-chess-ai
backend/config/db_config_file.js
de1/hardware/modelsim/*
de1/hardware/rook_project
de1/hardware/bishop_project
de1/hardware/queen_project
de1/hardware/pawn-project
*.qsf
*.qpf
*.csv
#*.tcl
*.tcl~
*.sopcinfo
*.qsf.bak
*.txt
de1/hardware/de1-system/.qsys_edit
de1/hardware/de1-system/db
de1/hardware/de1-system/hps_isw_handoff
de1/hardware/de1-system/monitor
de1/hardware/de1-system/incremental_db
de1/hardware/de1-system/output_files
de1/hardware/de1-system/sys
de1/game.c.o
*.c.o